<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../grid-system/css/bootstrap.min.css">
		<link rel="stylesheet" href="../grid-system/css/bootstrap-theme.min.css">
	</head>
	<body>
		<!-- 1. Buttons, button-size and contextual buttons -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a href="#" class="btn btn-primary">Primary</a>
					<button class="btn btn-danger">Danger</button>
					<input type="button" class="btn btn-info" value="Information">
					<a href="#" class="btn btn-danger btn-lg">Danger and Large</a>
					<button class="btn btn-default btn-sm">Default and Small</button>
					<input type="button" class="btn btn-xs btn-success" value="Success and Extra Small">
					<a href="#" class="btn btn-warning btn-lg">Warning and Large</a>
					<button class="btn btn-default btn-lg">Large</button>
					<input type="button" class="btn btn-danger btn-xs" value="Danger and Extra Small">
					<input type="button" class="btn btn-default disabled" value="btn">
					<a href="#" class="btn btn-info btn-sm">Info and Small</a>
					<button class="btn btn-default btn-xs active">Extra small</button>
				</div>
			</div>
		</div>

		<hr>

		<!-- 2. Button Groups -->

		<!-- 2.1 Basic button group -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="btn-group">
						<button class="btn btn-danger">Danger</button>
						<button class="btn btn-info">Information</button>
						<button class="btn btn-success">Success</button>
						<button class="btn btn-warning">Warning</button>
						<button class="btn btn-primary">Primary</button>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<!-- 2.2 Justified Button Group -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button class="btn btn-danger">Danger</button>
						</div>
						<div class="btn-group">
							<button class="btn btn-info">Information</button>
						</div>
						<div class="btn-group">
							<button class="btn btn-success">Success</button>
						</div>
						<div class="btn-group">
							<button class="btn btn-warning">Warning</button>
						</div>
						<div class="btn-group">
							<button class="btn btn-primary">Primary</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<!-- 2.3 Vertical button group -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="btn-group btn-group-vertical">
						<button class="btn btn-danger">Danger</button>
						<button class="btn btn-info">Information</button>
						<button class="btn btn-success">Success</button>
						<button class="btn btn-warning">Warning</button>
						<button class="btn btn-primary">Primary</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>