<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Forms</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../grid-system/css/bootstrap.min.css">
		<link rel="stylesheet" href="../grid-system/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div class="container">
			<!-- 1.1 -->
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<form action="">
						<div class="form-group">
							<label for="firstname">Firstname</label>
							<input class="form-control" type="text" id="firstname">
						</div>
						<div class="form-group">
							<label for="lastname">Lastname</label>
							<input type="text" id="lastname" class="form-control">
						</div>
						<div class="form-group">
							<label for="comments">Comments</label>
							<textarea id="comments" class="form-control"></textarea>
						</div>
						<input type="submit" value="Submit form" class="btn-primary">
					</form>
				</div>
			</div>
		</div>

		<hr>

		<!-- 1.2 -->
		<div class="container">
			<form action="">
				<div class="form-group form-inline">
					<label for="firstname">Firstname</label>
					<input type="text" id="firstname2" class="form-control">
					<label for="lastname">Lastname</label>
					<input type="text" id="lastname2" class="form-control">
					<label for="age">Age</label>
					<input type="text" id="age" class="form-control">
					<label for="gender">Gender</label>
					<input type="text" id="gender" class="form-control">
				</div>
				<div class="form-group">
					<label for="comments2">Comments</label>
					<textarea id="comments2" class="form-control"></textarea>
				</div>
				<input type="submit" value="Submit form" class="btn-success">
			</form>
		</div>

		<hr>

		<!-- 1.3 -->
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<form action="">
						<div class="form-group">
							<label for="firstname3">Firstname</label>
							<input class="form-control" type="text" id="firstname3">
						</div>
						<div class="form-group">
							<label for="lastname3">Lastname</label>
							<input type="text" id="lastname3" class="form-control">
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<div class="input-group">
								<input type="email" id="email" placeholder="email" class="form-control">
								<span class="input-group-addon">@hotmale.com</span>
							</div>
						</div>
						<div class="form-group">
							<label for="comments3">Comments</label>
							<textarea id="comments3" class="form-control"></textarea>
						</div>
						<input type="submit" value="Submit form" class="btn-primary">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>